.mainContainer{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0%;
    width: 100%;
    font-family: 'Roboto','Segoe UI', Tahoma, Verdana, sans-serif;
    overflow: auto;
}

.tabelaAlunos, .editMode{
    width: 80%;
    height: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 2em;
}

.alunoGroup{
    background-color: white;
    margin-top: 2em;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dadoAlunos, .acoesAluno{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 2em;
}
.dadoAlunos{
    width: 85%;
}
.acoesAluno{
    width: 15%;
    justify-content: space-between;
}

.dadoAlunos p{
    font-size: 11pt;
    text-align: left;
    margin-left: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.acoesAluno button{
    cursor: pointer;
    border: none;
    text-emphasis: none;
    background-color: white;
    height: 2em;
    width: auto;
    margin-right: .5em;
}

.acoesAluno button img {
    width: auto;
    height: 1.7em;
}

/*ADICIONA RELATORIO AREA*/
.plusArea{
    height: auto;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0%;
    display: none;
}

.inputContainer{
    height: auto;
    width: 100%;
}
.inputContainer textarea{
    border: none;
    background-color: #ffffff;
    padding: .3em;
    display: inline-block;
    vertical-align: middle;
}

/*RELATORIO CONTAINER ----------------*/

.modalHeader{
    height: 2em;
    width: 100%;
    margin: 0;
    padding: 0%;
    
}
.relatorio{
    background-color: white;
    height: 70%;
    width: 75%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: .5em 3em;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.itemRelat{
    height: auto;
    max-height: 10em;
    overflow: auto;
    padding: 0%;
    margin: 0;
    margin-bottom: 1em;
}
.itemRelat h1{
    font-weight: 700;
    font-size: 12pt;
    color: black;
}

.itemRelat p{
    font-weight: 500;
    font-size: 12pt;
    color: black;
}

/*EDITA------------------------------*/
.editaAlunos{
    background-color: white;
    margin-top: 2em;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.editaAlunos input,
.editaAlunos select{
    border: none;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    padding-left: .3em;
    font-size: 11pt;
    text-align: left;
    height: 2em;
}

.formularioAlunos, fieldset{
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 2em;
    width: 100%;
}

.buttonArea{
    background-color: #F0EFF4;
    height: 2.5em;
    width: 100%;
    margin: 0;
    padding: 0%;
    display: flex;
    align-items: row;
}

/*CABECALHO*/
.btnArea{
    height: auto;
    width: 10%;
    margin-left: auto;
    margin-right: 1.5em;
}